@model MVC5WebWork.Models.客戶資料

@{
    ViewBag.Title = "Create";
}
@section breadcrumb{
    <li>
        <i class="icon-home"></i>
        <a href="@Url.Action("Index","客戶資料")">客戶資料</a>
        <i class="icon-angle-right"></i>
    </li>
    <li><a href="#">新增客戶</a></li>
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="control-group">
            @Html.LabelFor(model => model.帳號, htmlAttributes: new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.帳號, new { htmlAttributes = new { @class = "input-xlarge" } })
                @Html.ValidationMessageFor(model => model.帳號, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.密碼, htmlAttributes: new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.密碼, new { htmlAttributes = new { @class = "input-xlarge" } })
                @Html.ValidationMessageFor(model => model.密碼, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.客戶名稱, htmlAttributes: new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.客戶名稱, new { htmlAttributes = new { @class = "input-xlarge" } })
                @Html.ValidationMessageFor(model => model.客戶名稱, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.統一編號, htmlAttributes: new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.統一編號, new { htmlAttributes = new { @class = "input-xlarge" } })
                @Html.ValidationMessageFor(model => model.統一編號, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.電話, htmlAttributes: new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.電話, new { htmlAttributes = new { @class = "input-xlarge" } })
                @Html.ValidationMessageFor(model => model.電話, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.傳真, htmlAttributes: new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.傳真, new { htmlAttributes = new { @class = "input-xlarge" } })
                @Html.ValidationMessageFor(model => model.傳真, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.地址, htmlAttributes: new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.地址, new { htmlAttributes = new { @class = "input-xlarge" } })
                @Html.ValidationMessageFor(model => model.地址, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label" })
            <div class="controls">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "input-xlarge" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="control-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
